td {
	width: 50px;
	height: 50px;
	background-color: #ffd;
	border: 1px solid #000;
	text-align: center;
}
.top {
	border-top: 2px solid #000;
}
.bottom {
	border-bottom: 2px solid #000;
}
.left {
	border-left: 2px solid #000;
}
.right {
	border-right: 2px solid #000;
}
table {
	width: 450px;
	border-collapse: collapse;
	font-family: verdana, arial;
	font-size: x-large;
}
.edit {
	width: 100%;
	border: none;
	text-align: center;
	font: inherit;
	background-color: transparent;
}
.edit::-webkit-outer-spin-button,
.edit::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.edit[type='number'] {
	-moz-appearance: textfield;
}

body {
	font-family: bitstream vera sans, verdana, arial;
	font-size: small;
	_font-size: x-small;
}
